<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/project/views/contact.ejs">Contact</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Info</a></li>
        </ul>
    </nav>
    <h1>Paragraph :</h1>
    <div id="para">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto error fugiat voluptate animi consequatur officiis rerum accusantium. Itaque architecto sapiente tenetur commodi doloribus nostrum voluptatem eaque velit quis minima, debitis rem dolores ad aliquid quibusdam atque. Delectus minus laborum sit, dolorum vero magnam quisquam, ullam hic consequatur ad aperiam blanditiis, explicabo commodi tempora ea aliquam dignissimos. Voluptate mollitia iusto maxime temporibus quod commodi exercitationem assumenda, corporis, natus rem vero illum consequuntur. Accusamus nostrum omnis fuga. Provident quasi nulla debitis laboriosam, ex aliquam. Accusantium non cum numquam sequi vel quod? Temporibus laboriosam ex quidem omnis maiores animi quas fugit ea illum?</p>
    </div>
    <script src="home.js"></script>
</body>
</html>