*{
    margin: 0;
    padding: 0;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 5px;
    margin: 5px 0px 15px 10px;
}