<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Home Page</h1>
    <h2> <%= 2+6 %></h2>
    <h2> <%= "my name is nauman tamboli".toUpperCase() %></h2>
     <h1>the value of dice is: <%=diceVal %></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius necessitatibus nostrum ratione explicabo quod saepe iusto ducimus tempora optio. Ut id architecto accusantium fugiat dicta laudantium exercitationem ipsum minus maiores.</p>
    <button>Click me</button>
</body>
</html>