<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div class="div">
        <form action="/posts" method="post">
            <h2 style="margin-bottom: 15px;">Add new post</h2>
            <input type="text" placeholder="enter username" name="username"> <br><br>
            <textarea name="content" id="content" placeholder="Enter content"></textarea><br>
            <button>Submit form</button>
        </form>
    </div>
</body>
</html>